@using EntityLayer.Entities;
@model List<Student>
@{
    Layout = null;
}



<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AKUWebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AKUWebUI.styles.css" asp-append-version="true" />
    <style>
        * {
            letter-spacing: 3px;
        }
    </style>
</head>
<body>

    <div class="container" id="pdfContainer">
        <div class="img text-center mb-2">
            <img src="~/Images/minikodlogo.png" class="img-fluid" width="150" />
        </div>
        <h1 class="h3 text-center mb-2" style="color: rgba(132, 10, 105, 0.7);">MİNİKOD AKADEMİ</h1>
        <p class="lead text-center" style="color: rgba(132, 10, 105, 0.9);">AKTİF ÖĞRENCİ LİSTESİ</p>
        <br />
        <br />
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Cinsiyet</th>
                    <th>Doğum Tarihi</th>
                    <th>TC</th>
                    <th>Telefon</th>
                    <th>Okul</th>
                    <th>Sınıf</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@(item.Gender ? "Erkek" : "Kadın")</td>
                        <td>@item.Date</td>
                        <td>@item.TC</td>
                        <td>@item.Phone</td>
                        <td>@item.SchoolName</td>
                        <td>@item.Class</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <footer class="position-absolute bottom-0">
        <hr />
        <div class="d-inline-block">
            <p class="lead">
                Selçuklu Mahallesi 1371 Sokak
                No:6 Merkez/Afyonkarahisar
                <br />
                Telefon Numarası: (+90) 272 502 11 22
            </p>
        </div>
        <div class="d-inline-block">
            <p class="lead">
                Yenibağlar Mahallesi, İsmet İnönü-1 Caddesi
                İBA Deluxia İş Merkezi,
                No:140E. Hava Müzesi Tramvay
                Durağı karşısı, Tepebaşı/ ESKİŞEHİR
                <br />
                Telefon Numarası: (+90) 222 503 57 75
            </p>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
