@using EntityLayer.Entities;
@using Newtonsoft.Json;
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Links{
	<link rel="stylesheet" href="~/css/Table.css" />
	<style>

		body {
			font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
			margin: 0;
			padding: 0;
			color: #333;
			background-color: #fff;
		}

		table.dataTable tbody tr.stripe1 {
			background-color: #E8E8E8;
		}

		table.dataTable tbody tr.stripe2 {
			background-color: #c0c0c0;
			border-bottom: solid #c0c0c0;
		}

		
	</style>

}
@model List<Student>
@if (ViewBag.Role)
{
	<a class="btn btn-primary mb-3" asp-action="CreateStudent" asp-controller="Students">
		<i class="fa fa-plus"></i>
		<span>Öğrenci Ekle</span>
	</a>
}
@if (Model.Count > 0)
{
	<div class="table-responsive">
		<table class="display nowrap text-dark" id="myTable">
			<thead class="table-primary">
				<tr>
					<th>#</th>
					<th>Ad Soyad</th>
					<th>Durumu</th>
					<th>Yaş</th>
					<th>Cinsiyet</th>
					<th>Şube</th>
					@if (ViewBag.Role)
					{
						<th>Detaylı Görüntüle</th>
						<th>Durum Değiştir</th>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.StudentId</td>
						<td class="fullname">@item.Name @item.Surname</td>
						<td class="st">@(item.State ? "Aktif" : "Pasif")</td>
						<td>@item.Age</td>
						<td>@(item.Gender ? "Erkek" : "Kadın")</td>
						<td>@item.Branch.BranchName</td>
						@if (ViewBag.Role)
						{
							<td>
								<a class="btn btn-info" asp-action="Details" asp-controller="Students" asp-route-name="@item.Slug">Görüntüle</a>
							</td>
							<td>
								<a class="btn btn-warning" asp-action="ChangeState" asp-controller="Students" asp-route-name="@item.Slug">
									@(item.State ? "Pasif Yap" : "Aktif Yap")
								</a>
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<div class="alert alert-warning alert-dismissible">
		<button class="btn-close" data-bs-dismiss="alert"></button>
		Öğrenci Bulunamadı...
	</div>
}


@section Scripts{
	<script src="~/js/dataTables.min.js"></script>
	<script>
		let table = new DataTable("#myTable");
	</script>
	@if (TempData["Errors"] != null)
	{
		var errors = JsonConvert.DeserializeObject<List<Error>>(TempData["Errors"] as string);
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script>
			let errors = [];
			for (let i = 0; i < @errors.Count; i++) {
				errors.push({
					"description": "@errors[0].Description"
				})
			}
			for (let error of errors) {
				Swal.fire({
					position: "top-end",
					icon: "success",
					title: `${error.description}`,
					showConfirmButton: false,
					timer: 1500
				});
			}

			
		</script>

	}
	
	
}