@using EntityLayer.Entities;
@using Newtonsoft.Json;
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<RateStudent>
@section Links{
	<link rel="stylesheet" href="~/css/Table.css" />
	<style>

		body {
			font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
			margin: 0;
			padding: 0;
			color: #333;
			background-color: #fff;
		}

		table.dataTable tbody tr.stripe1 {
			background-color: #E8E8E8;
		}

		table.dataTable tbody tr.stripe2 {
			background-color: #c0c0c0;
			border-bottom: solid #c0c0c0;
		}

	</style>

}
@if (Model.Count > 0)
{
	<a class="btn btn-primary" asp-action="ShowRatesRapor" asp-controller="Students" asp-route-id="@Model[0].StudentId" target="_blank">Rapor Al</a>
	<div class="table-responsive">
		<table class="display nowrap text-dark" id="myTable">
			<thead class="table-primary">
				<tr>
					<th>Kur Adı</th>
					<th>Kur Kayıt Tarihi</th>
					<th>Kura Başlangıç Tarihi</th>
					<th>Kuru Bitirme Tarihi</th>
					<th>Öğrenci Durum</th>
					<th>Kur Mezuniyet Durumu</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.Rate.RateName</td>
						<td>@item.RegisterDate</td>
						<td>@item.StartRateDate</td>
						<td>@item.EndRateDate</td>
						<td>@(item.SuccessState ? "Kuru Tamamladı" : "Kura Devam Ediyor")</td>
						<td>@(item.GraduationState ? "Mezun Oldu" : "Mezun Olmadı")</td>
						
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<div class="alert alert-warning alert-dismissible">
		<button class="btn-close" data-bs-dismiss="alert"></button>
		Listelenecek Kurlar Yok...
	</div>
}

@section Scripts{
	<script src="~/js/dataTables.min.js"></script>
	<script>let tbl = new DataTable("#myTable")</script>
	@if (TempData["Errors"] != null)
	{
		
		var errors = JsonConvert.DeserializeObject<List<Error>>(TempData["Errors"] as string);
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script>
			let errors = [];
			for (let i = 0; i < @errors.Count; i++) {
				errors.push({
					"description": "@errors[0].Description"
				})
			}
			for (let error of errors) {
				Swal.fire({
					position: "top-end",
					icon: "success",
					title: `${error.description}`,
					showConfirmButton: false,
					timer: 1500
				});
			}
		</script>

	}
}